body {
    background: #ddd;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container-fluid .row .col-md-3 {
    border: solid 1px white;
    padding: 10px;
    margin-bottom: 30px;
    background-color: darkgray;
}

#objeto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#objeto_reducido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    background-color: darkgray;
    height: 200px;
    width: 20%;
    border: solid 1px grey;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 2px;
    margin-right: 2px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 18%;
    max-width: 18%;
    text-align: left;
    padding-left: 2px;
    padding-right: 2px;
    overflow: hidden;
    white-space: nowrap;
}

.itemRed {
    background-color: darkgray;
    /*height: 200px;*/
    /*width: 20%;*/
    border: solid 1px grey;
    margin-top: 1px;
    margin-bottom: 1px;
    /*margin-left: 2px;*/
    /*margin-right: 2px;*/
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 15%;
    max-width: 15%;
    text-align: left;
    padding-left: 1px;
    padding-right: 1px;
    overflow: hidden;
    white-space: nowrap;
}

.cab_maq {
    border: solid 1px white;
    border-radius: 8px;
    background: #73AD21;
    padding: 0px;
    color: white;
    text-align: center;
}

.produc,
.parada,
.prepar,
.incide,
.puesta {
    background-color: yellow;
}

.produc {
    background-color: green;
}

.parada {
    background-color: grey;
}

.prepar {
    background-color: dodgerblue;
}

.incide {
    background-color: red;
}

.puesta {
    background-color: blue;
}

.lista {
    background-color: orange;
    color: black;
}

.incide.preventivo {
    background-color: #FFCA28;
    color: black;
}

#last_update {
    font-size: 12px;
}

@media screen and (max-width: 640px) {
    .item {
        background-color: pink;
        height: 200px;
        width: 45%;
        border: solid 1px grey;
        flex-basis: 45%;
        max-width: 45%;
    }
    .itemRed {
        background-color: darkgray;
        font-size: 12px;
        flex-basis: 12%;
        max-width: 12%;
    }
    .nav.nav-pills {
        margin-bottom: 2px !important;
    }
    a.nav-link {
        padding-top: 2px;
        padding-bottom: 2px;
    }
}

@media (max-width: 360px) {
    .item {
        background-color: pink;
        height: 200px;
        width: 90%;
        border: solid 1px grey;
        flex-basis: 90%;
        max-width: 90%;
    }
    .itemRed {
        background-color: pink;
        /*height: 200px;*/
        /*width: 90%;*/
        border: solid 1px grey;
        flex-basis: 25%;
        max-width: 25%;
    }
    .nav.nav-pills {
        margin-bottom: 4px !important;
    }
    a.nav-link {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .nav-item a.nav-link {
        color: green;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    #last_update {
        font-size: 10px;
    }
}


/* Not required for template or sticky footer method. */

main>.container {
    padding: 5px;
}

.footer {
    background-color: #545b62;
    ;
}

.footer>.container {
    padding-right: 5px;
    padding-left: 5px;
}